body{
    padding: 0 27px;
}
nav{
    width: 100%;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >*{
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 15px;
        line-height: 24px;
        color: #000;
        transition: 0.3s all ease-in-out;
        height: 50px;
        padding: 0 5px;
        text-decoration: none;
        >.productCounter{
            width: 28px;
            height: 28px;
            background: #DE3D31;
            border-radius: 10px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.homePage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    column-gap: 2.5%;
    row-gap: 25px;
    padding-top: 20px;
    .item{
        border: 1px solid green;
        width: 23.1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 0 15px 0;
        overflow: hidden;
        height: 480px;
        >:nth-child(1){
            height: 180px;
        }
        .rating-bar{
            margin-top: 30px;
            display: flex;
            gap: 5px;
            >img{
                cursor: pointer;
            }
        }
        .item-title{
            margin-top: 20px;
            margin-bottom: 8px;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.87);
            width: 80%;
            text-align: center;
        }
        .item-price{
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.15px;
            color: rgba(0, 0, 0, 0.87);
            margin-bottom: 30px;
        }
        .add-btn{
            width: 90%;
            height: 40px;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: rgba(0, 0, 0, 0.87);
            background: #FFFFFF;
            outline: 1px solid rgba(0, 0, 0, 0.12);
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            &:hover{
                outline-offset: 5px;
                outline-color: rgba(255, 3, 3, 0.12);
            }
        }
    }
}

.basketPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 15px 25px;
    margin-top: 20px;
    .item{
        border: 1px solid rgba(0, 0, 0, 0.5);
        width: 100%;
        border-radius: 10px;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3%;
        gap: 25px;
        img{
            max-width: 250px;
            max-height: 90%;
            border-radius: 10px;
        }
        .about{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .title{
                font-weight: 500;
                font-size: 24px;
            }
            .description{
                font-size: 16px;
            }
        }
        .price{
            width: 100px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 10px;
            font-weight: 500;
            scale: 1.2;
        }
        .remove{
            cursor: pointer;
            min-width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        }
    }
}
















// Library

.selectedNav{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}